* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */
header {
    background-color: #000;
    padding: 20px 40px;
}

.logo {
    color: #3619b7;
    font-size: 28px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    color: #3619b7;
}

/* DESTAQUE */
.destaque {
    padding: 60px 40px;
    background: linear-gradient(to right, #000, transparent),
    url("https://wallpaperaccess.com/full/2703652.png") center/cover;
}

.destaque-conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.destaque img {
    max-width: 300px;
    border-radius: 8px;
}

.btn {
    background-color: #3619b7;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

/* SÉRIES */
.secao {
    padding: 40px;
}

.grid-series {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.card-serie {
    width: 180px;
    background-color: #1b1b1b;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.card-serie img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}



.card-serie:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 30px rgba(0,0,0,0.8);
    z-index: 5;
}
.card-serie h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 8px 10px 2px;
}

.card-serie .genero {
    font-size: 11px;
    color: #aaa;
    margin: 0 10px 6px;
}
.card-serie .descricao {
    font-size: 12px;
    color: #bbb;
    line-height: 1.25;
    margin: 0 10px 10px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    max-height: 4.5em;
}


.card-serie p {
    font-size: 13px;
    color: #aaa;
}


.card-serie .genero {
    font-size: 12px;
    color: #aaa;
    margin-bottom: 4px;
}

.card-serie .descricao {
    font-size: 13px;
}

/* FOOTER */
footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}
/* DROPDOWN */
.dropdown {
    position: relative;
    display: inline-block;
}

/* menu escondido */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #111;
    list-style: none;
    padding: 10px 0;
    width: 150px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    z-index: 10;
}

.dropdown-menu li {
    padding: 10px 15px;
    cursor: pointer;
    color: #fff;
}

.dropdown-menu li:hover {
    background-color: #3619b7;
}

/* A MÁGICA AQUI */
.dropdown:hover .dropdown-menu {
    display: block;
}
/* CARROSSEL */
.carrossel {
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

.carrossel-track {
    display: flex;
    gap: 20px;
    animation: mover 25s linear infinite;
}

/* pausa quando passa o mouse */
.carrossel:hover .carrossel-track {
    animation-play-state: paused;
}

/* animação */
@keyframes mover {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* card continua funcionando com hover */
.card-serie {
    min-width: 300px;
    transition: transform 0.3s;
    position: relative;
    overflow: visible; /* importante */
 }

.card-serie::before {
    content: "";
    position: absolute;
    inset: -10px;
    background: #3619b7; /* cor atrás */
    border-radius: 12px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease;
}

.card-serie:hover::before {
    opacity: 0.8;
}


.card-serie:hover {
    transform: scale(1.1);
    z-index: 2;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}
.secao {
    padding: 60px 20px;
}

.secao h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

.secao p {
    font-size: 16px;
    line-height: 1.6;
    color: #ccc;
    max-width: 800px;
}
.lista-contato {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.lista-contato li {
    margin-bottom: 10px;
    font-size: 15px;
    color: #ddd;
}

.lista-contato strong {
    color: #fff;
}
.card-serie .descricao {
    font-size: 13px;
    color: #bbb;
    line-height: 1.2;   /* linhas mais próximas */
    
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


